body {
margin: 0;
padding: 0;
font-family: sans-serif;
}

html, body {
	height: 100%;
}
.img {
	height: 100px;
	width: 100px;
	margin-left: 300px;
}

.container{
	min-height:100%;
	background-image: url("img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.header{
	overflow: auto;
	margin-top: -18px;
}

nav{
	width: 100%;
	height: 100px;
	background-color: #0001;
	line-height: 80px;
	margin-bottom: 50px;
}

nav ul {
	float: right;
	margin-right: 100px;
}
nav ul li {
	display: inline-block;
	margin: 0px 30px;
	list-style-type: none;
	
}

nav ul li a{
	text-decoration:none;
	font-family: arial;
	font-size: 20px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
}

nav ul li a:hover{
	color: grey;
}

.main {
	overflow: auto;
}
.box{
	margin-left: 40%;
	width:300px;
	border-radius: 8px;
	padding: 40px;
	background: white;
}

.box input[type="text"],.box input[type="password"]{
	border: 0;
	width:270px;
	background: none;
	display: block;
	text-align: left;
	border: 2px solid grey;
	padding: 14px 10px;
	outline: none;
	color: green;
	border-radius: 16px;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	border-color: black;
}

.box input[type="submit"]{
	border: 0;
	width:293px;
	background: #52565e;
	display: block;
	text-align: center;
	border: 2px solid grey;
	padding: 14px 10px;
	outline: none;
	color: white;
	border-radius: 16px;
	cursor: pointer;
}

.box input[type="submit"]:hover{
	background:grey;
	border-color: black;
	color: green;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.icons {
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 5px;
}
.icons ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.icons ul li{
display: inline-block;
width: 50px;
height: 50px;
margin: 0px 60px;
border-radius: 100%;
background: white;
border: 2px solid green;
}

.icons ul li a{
	color: green;
	font-size: 25px;
	display: block;
}

.icons ul li a i{
	line-height: 50px;
}

.icons ul li:hover {
	background: green;
	border: 2px solid white;
}
.icons ul li a:hover {
	color: white;
}

.menu {
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 5px;
}
.menu ul {
	margin:0px;
	padding: 0px;
	text-align: center;
}
.menu ul li {
	display: inline-block;
	margin: 0px 20px;
}

.menu ul li a{
	text-decoration:none;
	font-family: arial;
	font-size: 12px;
	font-weight: 600;
	color: green;
	text-transform: uppercase;
}

.menu ul li a:hover{
	color: #00ff00;
}
.footer-top{
	width: auto;
	height: auto;
	margin: auto;
	background: white;
	padding: 10px;
}
	
.footer-bot{
	width: auto;
	height: auto;
	margin: auto;
	background: #006080;
	padding: 10px;
}
.footer-bot p{
	font-family: arial;
	font-size: 10px;
	text-align: center;
	color: white;
	font-weight: 500;
	letter-spacing: 2px;
}
.footer-bot p a{
	text-decoration:none;
	color: white;
}
.footer-bot p a:hover{
	color: grey;
}
